
<% include ../head%>
<form action = "create/" meethod = 'POST'>
<label name = "slug">Slug</label>
<input class = "text" name="slug">
<label name ="body">Bodys r us</label>
<input class ="text" name "body">
<input type = "submit">
</form>
<%include ../foot%>
