
<% include ../head%>
<form action = "/til/create" meethod = 'POST'>
<br>
<label name = "slug">name</label>
<input class = "text" name="slug">
<label name ="body">text</label>
<input class ="text" name "body">
<br>
<input type = "submit">
</form>
<%include ../foot%>
