
<% include head%>
<form action = "/entries/create" meethod = 'POST'>
<label name = "slug">Slug</label>
<input class = "form-control" type = "text" name="slug">
<label name ="body">Body</label>
<input class = "form-control" type = "text" name "body">
<input type = "submit">
</form>
<%include foot%>
