<!DOCTYPE html>

<html lang="en">

<head>

  <title>CS2610</title>
</head>
<body>


<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #111;
}

.active {
background-color:#4CAF50;
}
</style>
<ul>
  
<li><a href="index.ejs">Home</a></li>
 
 <li><a href="todayILearned1.ejs">today I learned</a></li>
 

</ul>

Welcome to zerin's stuff<br> 
do you want to hear what I learned today
</body>

</html>
